.hero {
  gap: 1rem;
  background-image: url(../../assets/crew/background-crew-desktop.jpg);
}

.container {
  gap: 3rem;
  height: 80vh;
  margin: 0 auto 0 auto;
  grid-template-columns: 2fr 1fr;
}

.heading-5 {
  width: 80%;
  color: var(--white-2);
}

.number {
  color: var(--shade-2);
  margin-right: 1.2rem;
}

.image {
  background-size: cover;
  height: 90%;
  width: 81%;
  justify-self: end;
}

.heading-3 {
  font-size: 5.4rem;
  margin-bottom: 2rem;
}

.heading-4 {
  font-size: 2.7rem;
  color: var(--primary);
  margin-bottom: 2rem;
}

.left-text {
  display: flex;
  flex-direction: column;
  gap: 7rem;
}

.body-text {
  width: 70%;
}

.slider {
  display: flex;
  list-style: none;
  gap: 1rem;
}

.slider-component {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: var(--shade-1);
  cursor: pointer;
}

.slider-component.active,
.slider-component.active:hover {
  background-color: var(--white);
}

.slider-component:hover {
  background-color: var(--shade-2);
}

/* potrait tablets */
@media (max-width: 68em) and (min-height: 44em) {
  .hero {
    background-image: url(../../assets/crew/background-crew-tablet.jpg);
  }

  .container {
    height: 90vh;
  }

  .left-text {
    text-align: center;
  }

  .heading-5 {
    text-align: start;
    /* margin: 3rem; */
  }

  .body-text {
    width: 100%;
    padding: 0 5rem 0 5rem;
  }

  .slider {
    align-self: center;
  }

  .slider-component {
    background-color: var(--shade-4);
  }

  .image {
    justify-self: center;
    align-self: end;
    height: 95%;
    width: 62%;
  }
}

/* Mobiles */
@media (max-width: 29em) and (max-height: 60em) {
  .hero {
    background-image: url(../../assets/crew/background-crew-mobile.jpg);
  }

  .container {
    align-self: flex-start;
  }

  .left-text {
    border-top: 1px solid var(--shade-3);
    text-align: center;
    align-self: flex-start;
    gap: 5rem;
    flex-direction: column-reverse;
  }

  .body-text {
    width: 100%;
    padding: 0;
  }

  .slider {
    margin-top: 4rem;
    gap: 2rem;
    align-self: center;
  }

  .slider-component {
    background-color: var(--shade-4);
  }

  .image {
    grid-row: 1;
    justify-self: center;
    align-self: end;
    height: 32rem;
    width: 25rem;
  }

  .heading-4 {
    font-size: 2rem;
  }

  .heading-3 {
    font-size: 3.2rem;
  }
}
